.nav {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #fbfbfb;
  width: 90%;
  border-top: 1px solid #f2f2f2;
  padding: 0px 50px;
  border-radius: 0 0 30px 30px;
  box-shadow: 30px 30px 40px rgba(118, 146, 180, 0.05);
}
.nav .nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__list-item i {
  font-size: 25px;
}
.nav .nav__list-link {
  position: relative;
}
.nav .nav__badge {
  position: absolute;
  top: -11px;
  right: -11px;
  background-color: #e75f3f;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-size: 10px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    transform: none;
  }
}
/* .nav {
  transform: translateY(100px);
  animation: fadeIn 0.3s ease-in-out forwards 0.3s;
} */

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: black;
  margin-right: 2px;
}

.nav__list-item {
  display: flex;
  align-items: center;
  height: 70px;
}
.nav__list-item:hover {
  color: #fae100;
  border-top: 4px solid #fae100;
}
.nav__list-item:hover .dot {
  background-color: #fae100;
}

.dot-container {
  animation: rotate 1s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0turn);
  }
  50% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
/* #FAE100 카카오 노랑색 */
.nav__list-link .dot-container {
  height: 50px;
}
